<div class="container my-5">
    <h1 i18n>Product Catalog</h1>
    <section>
        <h3 i18n>
            This is a web page for testing Angular 17. 
            This site has a translation.
        </h3>
        <h4 i18n>Available site on: {{15/01/2024 | date }}</h4>
    </section>
    <hr />
    <input type="text" class="form-control" placeholder="Walter White..." (input)="filter($event)">

    <div class="row">
        <div *ngFor="let producto of productos" class="col-xl-4 col-sm-6 col-xs-12">
            <app-card [producto]="producto"></app-card>
        </div>
    </div>

</div>